<% content_for :head do%>
  <%=  auto_discovery_link_tag(:rss, "http://#{SITE}/newest_stories.rss", :title=>"Latest Stories") %>
  <%# auto_discovery_link_tag(:rss, "http://#{SITE}/latest_comments.rss", :title=>"Latest Comments") %>
  <%# auto_discovery_link_tag(:rss, "http://#{SITE}/newest_members.rss", :title=>"Newest Members") %>
<% end%>

<% content_for :side do %>
<div class="blue_box">
  <h2 class="underline">Welcome to California Voices</h2>
  <p>California Voices is an after-school digital storytelling program designed to guide students to have a greater commitment to academic achievement, career goals and civic engagement, while preserving the legacy of elders who have made significant contributions to culture, community, and country.</p>
  <%= render :partial => 'topics/list' %>

  <%= render :partial => 'regions/list'%>
  
  <div class="clear"></div>
  <!-- end :side -->
</div>
<% end %>

<div class="white_box blue_top">
  <h2 class="underline">Newest Stories</h2>
  <div class="iconboxes">
    <%= render :partial => 'stories/newest_story', :collection => new_stories %>
  </div>
  <div class="clear"></div>
</div>

<div class="blue_box">
  <h2 class="underline">Newest Members</h2>
  <div class="iconboxes">
    <%= render :partial => 'profiles/newest_member', :collection => new_members %>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>
