<% content_for :side do %>

<div class="blue_box">

  <%= render :partial => 'topics/list' %>

  <%= render :partial => 'regions/list'%>

<div class="clear"></div>
</div>

<% end %>

<div class="white_box blue_top">
  <div>
    <h2 class="underline">Stories</h2>

    <%= will_paginate @stories %>

    <% @stories.each do |r| %>
    <div class="search_row left text_c" >
      <div><%= link_to image_tag(r.icon), r %></div>
      <div><%= link_to h(r.title), r %></div>
    </div>
    <% end %>
    
    <div class="clear"></div>

    <%= will_paginate @stories %>

  </div>
  <div class="clear"></div>
</div>
