<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title><%= @title || SITE_NAME %></title>
    <%= javascript_include_tag :defaults, 'jquery', 'thickbox', 'less_routes', 'truncator', :cache=>true %>
    <%= stylesheet_link_tag 'reset', 'ie', 'application', 'cavoices', :cache=>true %>
    <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<div id="logo"><%= link_to 'Home', home_path %></div>
	<div id="menu" class="head_nav">
	  <span class="selected"><%= link_to 'Home', home_path %></span>
	  <span><%= link_to 'Stories', '#' %></span>
	  <span><%= link_to 'Groups', '#' %></span>
	</div>

	<div id="user_menu" class="head_nav">
          <% if @u.nil? or @u.new_record? %>
          <span><%= link_to 'Sign-up', signup_path %> or <%= link_to 'Login', login_path %></span>
          <% else %>	
	  <ul>
	    <li><%= link_to 'Upload', '#', :id => 'upload' %></li>
	    <li class="text-left"><%= link_to('Admin', admin_users_path) if @p && @p.user.is_admin %></li>
	    <li><%= link_to('Dashboard', @p) if @p %></li>
	    <li><%= link_to '(logout)', logout_path %></li>
	  </ul>
          <% end %>
	</div>
	<div id="misc_menu" class="head_nav">
          <% if @u.nil? or @u.new_record? %>
            <span>&nbsp;</span>
          <% else %>	
	  <ul>
	    <li class="text-left"><strong>Hi, <%= @u.f %>!</strong></li>
	  </ul>
          <% end %>
	  <%= render :partial => "shared/#{params[:controller].match(/admin/) ? 'admin_search' : 'search'}" %>
	</div> <!-- end misc_menu -->
      </div>


	    <div id="content2">
	      <%= display_standard_flashes %>
	      <%= yield %>
	    </div>
      </div>

      <%= render :partial => 'shared/footer' %>

    </body>


</html>
